Exercicios/Resolvidos/AppFilmes/web/WEB-INF/wsdl/localhost_8080/FilmeBeanEJBService/FilmeBeanEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.filmes/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb.filmes/" name="FilmeBeanEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb.filmes/" schemaLocation="http://localhost:8080/FilmeBeanEJBService/FilmeBeanEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="criarOuEditar">
<part name="parameters" element="tns:criarOuEditar"/>
</message>
<message name="criarOuEditarResponse">
<part name="parameters" element="tns:criarOuEditarResponse"/>
</message>
<message name="getAll">
<part name="parameters" element="tns:getAll"/>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"/>
</message>
<portType name="FilmeBeanEJB">
<operation name="update">
<input wsam:Action="http://ejb.filmes/FilmeBeanEJB/updateRequest" message="tns:update"/>
<output wsam:Action="http://ejb.filmes/FilmeBeanEJB/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://ejb.filmes/FilmeBeanEJB/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://ejb.filmes/FilmeBeanEJB/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="criarOuEditar">
<input wsam:Action="http://ejb.filmes/FilmeBeanEJB/criarOuEditarRequest" message="tns:criarOuEditar"/>
<output wsam:Action="http://ejb.filmes/FilmeBeanEJB/criarOuEditarResponse" message="tns:criarOuEditarResponse"/>
</operation>
<operation name="getAll">
<input wsam:Action="http://ejb.filmes/FilmeBeanEJB/getAllRequest" message="tns:getAll"/>
<output wsam:Action="http://ejb.filmes/FilmeBeanEJB/getAllResponse" message="tns:getAllResponse"/>
</operation>
</portType>
<binding name="FilmeBeanEJBPortBinding" type="tns:FilmeBeanEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="criarOuEditar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FilmeBeanEJBService">
<port name="FilmeBeanEJBPort" binding="tns:FilmeBeanEJBPortBinding">
<soap:address location="http://localhost:8080/FilmeBeanEJBService/FilmeBeanEJB"/>
</port>
</service>
</definitions>